.rise .fa-star {
  opacity: 1;
}

.increase {
  .list-group-item-label,
  .list-group-item-input {
    color: #e09f3e;
  }
  .btn-star {
    color: #aeaeae;
  }
}

.fa-star {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: #ffd700;
  transition: 0.5s all;
  opacity: 0;
}
