:global {
  .rise .fa-star {
    opacity: 1;
  }

  .increase {
    .list-group-item-label,
    .list-group-item-input {
      color: #e09f3e;
    }
    .btn-star {
      color: #aeaeae;
    }
  }

  .fa-star {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #ffd700;
    transition: 0.5s all;
    opacity: 0;
  }
}

.listGroupItem {
  padding: 15px 20px;
  border-bottom: 1px solid #3d5a80;
  display: flex;
  justify-content: space-between;
  position: relative;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  span {
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
    min-width: 550px;
  }
  input {
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    border: 0;
  }
  button {
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  .btnCookie {
    color: #e09f3e;
  }
  .btnTrash {
    color: #e5383b;
  }
  .iconsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 991px) {
  .listGroupItem {
    span {
      min-width: 300px;
    }
  }
}
@media (max-width: 767px) {
  .listGroupItem {
    span {
      min-width: 165px;
    }
  }
}
@media (max-width: 575px) {
  .listGroupItem {
    padding: 5px;
    align-items: center;
    span {
      text-align: center;
      min-width: 100px;
      font-size: 16px;
    }
    input {
      font-size: 16px;
      max-width: 60px;
    }
  }
  .iconsWrapper {
    max-width: 25%;
    i {
      font-size: 14px;
    }
    button {
      padding: 0;
    }
  }
}
